@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Permanent+Marker&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

.btn-special-font {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.text-logo {
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
}
